title { 
  color: green
  
}

h1 {
  color: red

}

h3 {
  color: hotpink

}

a {
  color: red
  
}

@font-face {
  font-family: 'mukashi'; /* フォントの名前を指定 */
  src: url('fonts/mukashi.ttf') format('TrueType'); /* フォントファイルへのパスを指定 */
}

body {
  font-family: 'mukashi', sans-serif;
  font-size: 30px;
}

.container {
  text-align: center;
  white-space: pre-line;
<<<<<<< HEAD
}
=======
}
>>>>>>> 030d74b (color changes)
